numpy==1.18.1
torch==1.5.1
torchvision==0.6.1
torchgeometry==0.1.2
joblib==0.14.1
opencv-python==4.2.0.34
trimesh==3.6.30
pyrender==0.1.39
smplx==0.1.13
tqdm==4.46.0
loguru==0.5.1
scipy==1.4.1
pyYAML==5.3.1
yacs==0.1.8
matplotlib==3.2.2
scikit-image==0.16.2
pillow==7.1.2
pytorch-lightning==0.8.4
filterpy==1.4.5
flatten-dict==0.3.0
chumpy==0.70
setuptools==47.3.1
